body {
    background-color: #FFFFFF;
    color:            #000000;
    text-align:       center;
    padding:          0px;
    margin:           2px
}

img {
    padding:          0px;
    margin:           0px;
    border:           0px
}

h1 {
    font-size:        1.4em;
    font-weight:      bold
}

h2 {
    font-size:        1.0em;
}

div.title {
    padding-top:      25%;
    text-align:       center;
    font-family:      serif
}
div.infos {
    padding-top:      20px;
    padding-right:    30px;
    font-size:        0.6em;
    text-align:       right;
    font-family:      sans-serif
}
